<section id="RPsbs-94">
  <div class="cs-container">
    <!-- Left Image Section -->
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/city.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/city.jpg"
      />
      <img
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/city.jpg"
        alt="city"
        width="347"
        height="604"
        aria-hidden="true"
      />
    </picture>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">What We Do</span>
      <h2 class="cs-title">Business Estate & Building</h2>
      <p class="cs-text">
        The business estate and building sector plays a crucial role in shaping
        the infrastructure of urban and commercial landscapes. It focuses on
        constructing, managing, and maintaining real estate properties that
        serve as hubs for businesses. With modern advancements, these buildings
        are designed to maximize efficiency, sustainability, and productivity,
        offering flexible spaces for a wide range of industries. From planning
        to execution, the process involves innovative designs and cutting-edge
        technology to meet the growing demands of the corporate world.
      </p>

      <a
        class="cs-button-solid"
        aria-label="read more about our services"
        href=""
        >Read More</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->
