<section id="sbs-416">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">About TLD Landscapers</h2>
            <p class="cs-text">
                At TLD Landscapers, we take pride in transforming outdoor spaces into stunning environments where you can relax and enjoy nature. With years of experience and a passion for landscaping, we offer a range of services tailored to your needs. Our commitment to quality and customer satisfaction sets us apart as a leader in the landscaping industry.
            </p>
            <ul class="cs-ul">
                <li class="cs-item">
                    <h3 class="cs-h3">Expert Design and Planning</h3>
                    <p class="cs-item-text">
                        Our team of skilled designers will work with you to create a customized plan that reflects your vision and maximizes your space’s potential. From initial consultation to final execution, we ensure every detail is meticulously planned and executed.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Quality Installation and Maintenance</h3>
                    <p class="cs-item-text">
                        We use only the highest quality materials and follow best practices to ensure that your landscape not only looks beautiful but also lasts for years to come. Our maintenance services keep your outdoor space in pristine condition, allowing you to enjoy it with minimal effort.
                    </p>
                </li>
            </ul>
            <a href="about-us.html" class="cs-button-solid">More About Us</a>
        </div>
        <div class="cs-image-group">
            <!--Top Left Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves1-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves1.jpg" alt="Green leaves" width="229" height="352" aria-hidden="true">
            </picture>
            <!--Top Right Image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="Lush garden" width="390" height="352" aria-hidden="true">
            </picture>
            <!--Bottom Image-->
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="Beautiful landscaping" width="649" height="227" aria-hidden="true">
            </picture>
            <!--Person Image-->
            <!--To make your own crop, use https://www.remove.bg to remove the background of your own images-->
            <div class="cs-info-box">
             
