<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="TLD Landscaping logo" width="264" height="78"></a>
            <p>
                Providing exceptional landscaping services in Brentwood, UK. Contact us to transform your outdoor space!
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Garden Design</li>
                    <li>Lawn Care</li>
                    <li>Hardscaping</li>
                    <li>Planting & Irrigation</li>
                    <li>Landscape Maintenance</li>
                    <li>Outdoor Lighting</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            123 Greenway Road<br>
                            Brentwood<br>
                            Essex CM14 4SY
                        </a>
                    </li>
                    <li>
                        <a href="tel:+441234567890">
                            T: +44 123 456 7890
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@tldlandscaping.co.uk">info@pldlandscaping.co.uk</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">pixelquestwebdesigns</a>
        <span class="copyright">
            Copyright {{ currentYear }} - Present</span>
    </div>
</footer>









