---
title: 'Project Two | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Project Two
    order: 3200
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="stylesheet" href="../../assets/css/root.css"/>
    <link rel="stylesheet" href="/assets/css/home.css?v=1.1"/>

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Project Two Gallery</h1>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg.jpg" alt="leaf" width="1920" height="1000" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    {% include 'components/gallery.html' %}

    {% include 'components/cta.html' %}

{% endblock %}